@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

label {
    display: block;
}

nav a {
    display: inline-block;
    margin: 1em;
}

form div {
    margin: 1em;
    display: inline-block;
}

.navbar-title {
    font-family: 'Luckiest Guy', cursive;
    color: white;
    -webkit-text-stroke: 1px black; /* width and color */
}

#Routes {
    padding-top:72px;
    height:calc(100%-72px);
}

/* #App {
    display: flex;
    flex-direction: column;
} */

.toolbar{
    justify-content: space-between;
}

.ogImg {
    height: 240px;
    width: 240px;
}